*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
  line-height: 30px;
}

a{
  color: #33475b;
  text-decoration: none;
}

h2{
  font-size: 32px;
  line-height: 45px;
  margin-bottom: 30px;
}

h4{
  font-size: 22px;
}
p{
  font-size: 18px;
}

hr{
  border-radius: 4px;
  background: #33475b;
  height: 3px;
}

.bold{
  font-weight: 700;
}
/* TOP HEADER */
.top-header{
  height: 75px;
  border-bottom: 1px solid black;
  background: #f5f8fa;
}

.top-menu{
  width: 70%;
  line-height: 75px;
  margin: auto;
  vertical-align: middle;
}
/* LISTA DI SINISTRA */
.top-menu div ul li{
  display: inline-block;
}

.top-menu div ul .primo .li{
  list-style: none;
}

.primo{
  line-height: normal;
  padding-right: 10px;
  display: inline-block;
  border-right: 2px solid #cbd6e2;
}

.top-menu div::after{
  content:'';
  display: table;
  clear: both;
}

.sinistra{
  float: left;
}

.secondo{
  line-height: normal;
  padding-left: 10px;
  display: inline-block;
}

/*LISTA DI DESTRA */

.destra{
  float: right;
}

.terzo li i,
.terzo li.login{
  margin-right: 10px;
}

.terzo li a i{
  margin-right: 20px;
  color: #85d1e0;
}

.button a{
  border: 1px solid #ff7a59;
  border-radius: 4px;
  text-align: center;
  color: white;
  line-height: normal;
  background: #ff7a59;
}


.login a{
  padding: 10px 25px;
  font-size: 13px;
  color: #ff7a59;
  background: white;
}

.gothubspot a{
  padding: 10px 15px;
  font-size: 13px;
}

/* BOTTOM HEADER */
.bottom-header{
  height: 75px;
  background: white;
}

.bottom-menu::after{
  content: '';
  display: table;
  clear: both;
}

.bottom-menu img{
  width: 90px;
  float: left;
  padding-top: 25px;
}

.bottom-menu{
  width: 70%;
  margin: auto;
}

.menu-tendina{
  float: right;
}

.menu-tendina ul li{
  padding-left: 20px;
  line-height: 75px;
  list-style: none;
  display: inline-block;
}

.menu-tendina ul li i{
  padding-left: 15px;
}

/* INIZIO MAIN */
.hero{
  height: 660px;
  background-color: #fff3ee;
  position: relative;
}
.first-step{
  width: 70%;
  margin: auto;
  background-color: transparent;
  height: 600px;
  position: relative;
}

.first-img{
  background-image: url(../img-hubspot/jumbotron.png);
  position: absolute;
  height: 100%;
  width: 100%;
  right: -228px;
  bottom: 0;
  background-position: right center;
}

.first-text{
  top: 40px;
  left: 0;
  width: 42%;
  position: absolute;
}

.first-text h2{
  font-size: 46px;
  font-weight: 700;
}

.first-text p{
  font-size: 18px;
}

.first-text p.button{
  margin: 40px 0;
}

.first-text p.button a{
  padding: 20px 35px;
  font-size: 16px;
}

.first-text p:last-child{
  font-size: 14px;
}

/* RIGA VERDE */
.riga-verde{
  border-top: 3px solid #34485c;
  border-bottom: 3px solid #34485c;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 95px;
  background: #afebe4;
}

/* SECONDO STEP.....DADO */
section{
  background: #f5f8fa;
}

.second-step{
  padding-top: 50px;
}

/* DADO */
.dado{
  padding-bottom: 60px;
  margin: auto;
  width: 50%;
  text-align: center;
}

.dado img{
  width: 30%;
}

/* TERZO STEP */
.terzo-step{
  padding-bottom: 50px;
}

/* PRIMO FLOAT */
.float2::after{
  content: '';
  display: table;
  clear: both;
}

.float2{
  width: 70%;
  margin: auto;
  height: 370px;
  background: white;
  border-radius: 5px;
}

.colonna2{
  float: left;
}

.book{
  border-radius: 4px;
  width: 30%;
  background: white;

}
.book-img img{
  padding-bottom: 40px;
  width: 150px;
}

.book-img{
  padding-top: 70px;
  padding-bottom: 85px;
  text-align: center;
}

.button .learnmore{
  padding: 20px 35px;
  font-size: 16px;
}

.free-hubspot{
  border-radius: 4px;
  width: 70%;
  background: white;
  height: 343px;
}

.free-hubspot-text h4{
  padding: 30px;
  padding-top: 60px;
}

.free-hubspot-text .text{
  padding-left: 30px;
  padding-right: 150px;
  padding-bottom: 30px;
}

.free-hubspot-text .bold{
  display: inline-block;
  margin-left: 30px;
  margin-right: 50px;
}

.colonna2 hr{
  border-radius: 4px;
  background: #33475b;
  height: 3px;
  width: 400px;
  display: inline-block;
}

.free-hubspot-text ul li{
  padding: 30px;
  display: inline-block;
  list-style: none;
}

.free-hubspot-text ul li i{
  padding-right: 10px;
  color: #ff7a59;
}

/* QUARTO STEP.....MARKETING-SALES-SERVICE */
.float3{
  width: 70%;
  margin: auto;
}

.float3::after{
  content: '';
  display: table;
  clear: both;
}

.colonna3{
  float: left;
  margin-bottom: 70px;
}

.colonna3 p{
  font-size: 15px;
}

.mark-hub{
  border-radius: 5px;
  width: 30%;
  margin-right: 5%;
  background: white;
}

.marketing-hub{
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.marketing-hub img{
  width: 110px;
  padding-top: 30px;
}

.marketing-hub h4{
  padding-top: 20px;
  padding-bottom: 30px;
}

.marketing-hub p{
  padding-bottom: 30px;
}

.popular{
  padding-top: 30px;
  font-size: 18px;
  font-weight: 700;
}

.marketing-hub ul li i{
  color: #ff7a59;
}

.marketing-hub ul li{
  padding-left: 0;
  list-style: none;
  text-align: left;
  font-size: 15px;
}

.marketing-hub .button{
  padding-top: 80px;
  padding-bottom: 40px;
}

.sales-hub{
  border-radius: 5px;
  width: 30%;
  margin-right: 5%;
  background: white;
}

#saleshub-img{
  width: 136.84px;
}

.service-hub{
  border-radius: 5px;
  width: 30%;
  background: white;
}

#servicehub-img{
  width: 99.79px;
}

.lightblue{
  height: 800px;
  color: white;
  background: #00a9b9;
}

.container{
  padding-top: 50px;
  text-align: center;
  width: 70%;
  margin: auto;
}

.container p{
  padding-bottom: 50px;
}

.tabella::after{
  content: '';
  display: table;
  clear: both;
}

.col{
  height: 200px;
  float: left;
  width: 25%;
}

.col img{
  padding-top: 20px;
  padding-bottom: 10px;
}

.n8 img{
  padding-bottom: 20px;
}

.col h2.numeri{
  margin-bottom: 15px;
  font-size: 45px;
}

.col h2 span{
  vertical-align: middle;
  font-size: 30px;
  font-weight: 400;
}

.col p{
  padding-bottom: 10px;
  font-size: 16px;
}

.n1,
.n2,
.n3,
.n4{
  border-bottom: 1px solid white;
}

.n1,
.n2,
.n3,
.n5,
.n6,
.n7{
  border-right: 1px solid white;
}

/* SESTO STEP.....BUSINESS AFFILIATES */
.business-affiliates{
  padding-top: 50px;
  background: white;
}

.customers-loghi{
  width: 70%;
  height: 250px;
  margin: auto;
}

.customers-loghi::after{
  content: '';
  display: table;
  clear: both;;
}

.customers-text,
.loghi{
  float: left;
}

/* CUSTOMERS-TEXT */
.customers-text{
  text-align: left;
  width: 30%;
}

.customers-text h2{
  padding-top: 30px;
  font-size: 46px;
  padding-left: 20%;
}

.customers-text p{
  padding-left: 20%;
}

.customers-text p span{
  font-weight: 700;
}

/* CUSTOMERS-LOGHI */
.loghi{
  padding-top: 20px;
  width: 70%;
}

.loghi .tabella::after{
  content: '';
  display: table;
  clear: both;
}

.log{
  width: 25%;
  height: 80px;
  float: left;
}

.logo img{
  width: 110px;
}

.logo{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  vertical-align: middle;
}

#classpass img{
  margin-top: -10px;
}

#subaru{
  margin-top: -5px;
}

/* STEP SETTE */
.step-sette{
  position: relative;
  width: 70%;
  margin: auto;
  height: 500px;
}
.step-sette img{
  position: absolute;
  bottom: 200;
  right: 0px;
  width: 364px;
}

.step-sette .first-text h2{
  padding-bottom: 20px;
}

.step-sette .first-text p{
  padding-bottom: 20px;
}

.step-sette .first-text .button{
  padding-bottom: 30px;
}

/* FOOTER */
footer{
  background: #33475b;
  color: white;
}

footer .container{
  width: 70%;
  height: 450px;
}

footer .container::after{
  content: '';
  display: table;
  clear: both;
}

footer .container .col{
  width: 25%;
  float: left;
  text-align: left;
}

footer .container .col p{
  font-weight: 700;
  padding-bottom: 15px;
}

footer .container .col ul li{
  list-style: none;
  padding-bottom: 8px;
}

footer .container .col ul li a{
  color: #cbd6e2;
  font-size: 14px;
}

.footer-button a{
  border-radius: 4px;
  background: #cbd6e2;
  padding: 10px 15px;
  font-size: 13px;
}

#last-li {
  padding-bottom: 20px;
}
#testo-blu{
  color: #33475b;
}

.social li{
  padding-top: 10px;
  padding-right: 25px;
  display: inline-block;
}

.social li i{
  font-size: 18px;
}

/* SCELTA LINGUA */
.footer2{
  width: 70%;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}

.lingua li{
  display: inline-block;
}

.lingua li a{
  color: #cbd6e2;
  margin: 15px;
}

.lingua{
  border-bottom: 1px solid #cbd6e2;
  padding-bottom: 20px;
}

/* LOGO FOOTER.... COPY */
.footer3{
  color: #cbd6e2;
  width: 70%;
  margin: auto;
  padding-bottom: 30px;
}

.footer3::after{
  content: '';
  display: table;
  clear: both;
}

.img-copy{
  float: left;
}

.privacy{
  float: right;
}

.privacy ul li{
  display: inline-block;
  list-style: none
}

.privacy ul li a{
  margin-left: 20px;
  color: #cbd6e2;
}
